.blog_area{
    position: relative;
    padding: 5rem 0;
    background-color: var(--Alabaster);
    z-index: 1;
    .sub-title{
        color: var(--TallPoppy);
    }
    .single-post-blog{
        background-color: var(--White);
        border-radius: 10px;
        z-index: 1;
        -webkit-transition: .6s cubic-bezier(.47,2.02,.31,-0.36);
        -o-transition: .6s cubic-bezier(.47,2.02,.31,-0.36);
        transition: .6s cubic-bezier(.47,2.02,.31,-0.36);
        &:hover, &:focus, &:active {
            transform: scale(1.1);
            -webkit-box-shadow: 0 20px 81px 0 rgba(8, 0, 20, .3);
            box-shadow: 0 20px 81px 0 rgba(8, 0, 20, .3)
        }
        .blog-img{
            width: 100%;
            height: auto;
            display: grid;
            position: relative;
            overflow: hidden;
            -webkit-transition: 0.2s opacity;
            transition: 0.2s opacity;
            border-radius: 10px;
            &:hover, &:focus {
                opacity: 0.9;
            }
            &:hover{
                img{
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
            img{
                width: 100%;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                height: 200px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .blog-date {
                position: absolute;
                bottom: 10px;
                font-size: 12px;
                font-weight: 500;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                padding: .5rem;
                margin-left: 1rem;
                color: var(--White);
                background-color: var(--MineShaft60);
                border-radius: 20px;
                -webkit-filter: blur(0);
                -moz-filter: blur(0);
                -o-filter: blur(0);
                -ms-filter: blur(0);
            }
        }
        .blog-body{
            padding: 1rem 1.5rem;
            small{
                font-family: var(--font-NunitoSans);
                font-weight: 400;
                font-size: 10PX;
                color: var(--Loulou);
            }
            .title{
                font-size: 18px;
                margin: .5rem 0;
                display: -webkit-box;
                max-height: calc(2 * 1.6rem);
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                letter-spacing: normal;
                cursor: pointer;
            }
            span{
                display: -webkit-box;
                max-height: calc(3 * 1.6rem);
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                letter-spacing: normal;
            }
        }
    }
}
.contentblog-area{
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 28px 0;
    overflow: hidden;
    .single-blog-post{
        border-radius: 10px;
        overflow: hidden;
        border: .5px solid var(--SilverTrans);
        .blog-thumb{
            // overflow: hidden;
            position: relative;
            .thumb-img{
                position: relative;
                width: 310px;
                height: 235px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        .blog-content{
            padding: 1rem;
            .blog-title{
                font-size: 20px;
                font-family: var(--font-Poppins);
                font-weight: bold;
                a{
                    color: var(--MineShaft);
                    span {
                        display: -webkit-box;
                        max-height: calc(2 * 1.6rem);
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        letter-spacing: normal;
                    }
                }
            }
            .blog-meta{
                margin: 10px 0;
                li{
                    font-size: 14px;
                    color: var(--MineShaft30);
                    margin: 0 10px;
                    font-family: var(--font-Poppins);
                    font-weight: 400;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .blog-desc{
                span{
                    display: -webkit-box;
                    max-height: calc(3 * 1.6rem);
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    letter-spacing: normal;
                }
                font-family: var(--font-NunitoSans);
                font-weight: 400;
            }
            .btn-readmore{
                color: var(--TallPoppy);
                border-radius: 10px;
                font-family: var(--font-Poppins);
                font-weight: 500;
                font-size: 16px;
                padding: 10px 0 0 0;

                &:hover {
                    color: var(--TallPoppy);
                    background-color: var(--White);
                }
            }
        }
        &:hover{
            box-shadow: 0 4px 20px rgb(0, 0, 0, 30%);
        }
    }
}
.detail_news-area{
    .blog-meta{
        margin: 10px 0;
        li{
            font-size: 14px;
            color: var(--MineShaft30);
            margin: 0 10px;
            font-family: var(--font-Poppins);
            font-weight: 400;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .meta-sosmed{
        position: relative;
        margin: 1rem 0
        ;
        button{
            padding: 0 .5rem !important;
            &:first-child{
                padding-left: 0 !important;
            }
            &:last-child{
                padding-right: 0 !important;
            }
        }
    }
    .meta-tags{
        position: relative;
        li{
            list-style: none;
            margin: 0 15px 10px 0;
            padding: 6px 16px;
            border: 1px solid var(--Black);
            box-sizing: border-box;
            a{
                font-family: var(--font-Poppins);
                font-style: normal;
                font-weight: normal;
                color: var(--MineShaft);
                line-height: 30px;
                text-transform: capitalize;
            }
        }
    }
}
.search-area{
    position: relative;
    margin-bottom: 0;
    .input-group{
        > .form-control{
            border-color: var(--Silver50);
            padding: 1rem;
            height: calc(1.3rem + 1.2rem + 5px);
            font-size: 14px;
            font-family: var(--font-Poppins);
            font-weight: 400;
            border-right: 0;
            &:not(:last-child) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            &:focus{
                outline: none;
                box-shadow: none;
                border-color: var(--Silver50);
            }
        }
        > .input-group-prepend{
            margin-right: 0;
            &:not(:first-child){
                .btn {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
            .btn {
                background-color: transparent;
                border-color: var(--Silver50);
                border-left: 0;
                i{
                    color: var(--MineShaft70);
                }
            }
        }
    }
}
.category-area{
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    .section-heading{
        position: relative;
        h3{
            margin-top: 0;
            position: relative;
            font-size: 18px;
            padding-bottom: 10px;
            &::after{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 3px;
                background: var(--Valencia);
                content: '';
            }
        }
    }
    .section-body{
        margin-top: 1rem;
        ul{
            li{
                padding: 10px 0;
                border-bottom: 1px solid var(--MineShaft30);
                justify-content: space-between;
                .category_name{
                    color: var(--Black);
                    i{
                        margin-right: 10px;
                    }
                    span{
                        font-size: 14px;
                        font-family: var(--font-Poppins);
                        font-weight: 500;
                    }
                }
                .categoru_count{
                    span{
                        font-size: 14px;
                        font-family: var(--font-Poppins);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.recentarticle-area{
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    .section-heading{
        margin-top: 0;
        position: relative;
        h3{
            position: relative;
            font-size: 18px;
            padding-bottom: 10px;
            &::after{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 3px;
                background: var(--Valencia);
                content: '';
            }
        }
    }
    .section-body{
        margin-top: 1rem;
        .single-blog{
            position: relative;
            width: 100%;
            overflow: hidden;
            .img-thumb{
                position: relative;
                width: 200px;
                // height: 114px;
                margin-right: 10px;
                // img{
                //     display: block;
                //     width: 100%;
                // }
                .thumb-img{
                    position: relative;
                    width: 114px;
                    height: 104px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .text{
                .heading{
                    font-family: var(--font-Poppins);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 27px;
                    span{
                        color: var(--MineShaft);
                        display: -webkit-box;
                        max-height: calc(3 * 1.6rem);
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        letter-spacing: normal;
                    }
                }
                .meta{
                    margin-top: 5px;
                    font-size: 14px;
                    color: var(--MineShaft50);
                }
            }
        }
    }
}

.newsletter-area{
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    .section-heading{
        margin-top: 0;
        position: relative;
        h3{
            position: relative;
            font-size: 18px;
            padding-bottom: 10px;
            &::after{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 3px;
                background: var(--Valencia);
                content: '';
            }
        }
    }
    .section-body{
        position: relative;
        overflow: hidden;
        margin-top: 2rem;
        .form-subscribe{
            .form-control{
                position: relative;
                font-family: var(--font-Poppins);
                font-weight: 400;
                padding: 1rem;
                height: calc(1.5rem + 1.5rem + 5px);
                color: var(--MineShaft60);
                background-color: var(--Silver50);
                border-radius: 5px;
                margin-bottom: 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                    color: var(--Black);
                }
            }
            .btn{
                border: none;
                border-radius: 0;
                color: var(--White);
                background-color: var(--MineShaft);
                transition: all .5s ease-in;
                padding: 1rem;
                font-family: var(--font-Poppins);
                font-weight: 400;
                letter-spacing: 2px;
                &:hover{
                    border: 1px solid var(--MineShaft);
                    color: var(--MineShaft);
                    background-color: var(--White);
                    transition: all .5s ease-in-out;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }
}

.tags-area{
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    .section-heading{
        margin-top: 0;
        position: relative;
        h3{
            position: relative;
            font-size: 18px;
            padding-bottom: 10px;
            &::after{
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 3px;
                background: var(--Valencia);
                content: '';
            }
        }
    }
    .section-body{
        position: relative;
        overflow: hidden;
        margin-top: 2rem;
        ul{
            li{
                list-style: none;
                margin: 0 15px;
                padding: 6px 16px;
                border: 1px solid var(--Black);
                box-sizing: border-box;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                a{
                    font-family: var(--font-Poppins);
                    font-style: normal;
                    font-weight: normal;
                    color: var(--MineShaft);
                    line-height: 30px;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.detail_news-area{
    p{
        margin: 1rem 0;
    }
}