.client_area{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin: 2rem 0;
    padding: 4rem 0;
    z-index: 10;
    .client-item{
        display: block;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            max-height: 80%;
            display: block;
        }
    }
    &.overlay{
        background-image: url(./img/client.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .owl-theme{
        .owl-dots{
            margin-top: 40px !important;
            .owl-dot{
                span{
                    background-color: var(--Silver);
                }
                &.active{
                    span{
                        background-color: var(--Valencia);
                    }
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}