.hero-contact_area{
    position: relative;
    margin: 0;
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .section-heading{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .title{
            color: var(--White);
        }
    }
}
.form-contact_area{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 3rem 0;
    .section-heading{
        .title{
            font-size: 24px;
            color: var(--Valencia);
        }
        .sub{
            margin-top: 10px;
            width: 85%;
            font-size: 30px;
            font-weight: 600;
            color: var(--MineShaft);
            font-family: var(--font-Poppins);
        }
    }
    .contact-info {
        margin-top: 1rem;
        margin-bottom: 25px;
        .contact-info__icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            border-radius: 50px;
            background: linear-gradient(180deg, var(--Tabasco) 0%, var(--PersianRed) 100%);;
            i, span{
                color: var(--White);
                font-size: 27px;
            }
        }
        .media-body{
            h3{
                font-size: 20px;
            }
        }
    }
    .formContact{
        position: relative;
        width: 100%;
        margin: 40px 0;
        input{
            &.form-control{
                height: 55px;
                background: #fff;
                color: var(--MineShaft);
                font-size: 16px;
                border: none;
                border-radius: 10px;
                -webkit-box-shadow: none;
                box-shadow: 0px 4px 10px rgb(0, 0, 0, 5%);
                margin-bottom: 30px;
            }
            &::placeholder {
                position: relative;
                &::after{
                    content: "*";
                }
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: red;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: red;
            }
        }
        textarea{
            &.form-control{
                background: #fff;
                color: var(--MineShaft);
                font-size: 16px;
                border-radius: 10px;
                border: none;
                -webkit-box-shadow: none;
                box-shadow: 0px 4px 10px rgb(0, 0, 0, 5%);
                margin-bottom: 30px;
            }
        }
        .btn-contact{
            color: var(--White);
            border: 3px solid var(--TallPoppy);
            border-radius: 10px;
            font-family: var(--font-Poppins);
            font-weight: 500;
            font-size: 16px;
            padding: .5rem 1rem;
            border: 3px solid var(--TallPoppy);
            background-color: var(--TallPoppy);
            box-shadow: 0 4px 20px rgb(0, 0, 0, 25%);

            &:hover {
                color: var(--TallPoppy);
                background-color: var(--White);
            }
        }
    }
    .polygon{
        position: absolute;
        width: 48.83px;
        height: 48.83px;
        top: 0;
        right: 35%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: 30%;
        left: 5%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.maps-area{
    position: relative;
    .maps-kantor{
        position: relative;
        width: 100%;
    }
    .rectangle1{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: -1%;
        left: 15%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: -10%;
        right: 20%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rectangle{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: -15%;
        right: 20%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}