.firesupressionsystem-area{
    position: relative;
    .rectangle{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: 20%;
        right: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.customergallery-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    .client-item{
        display: block;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
            max-height: 80%;
            display: block;
        }
    }
}