.videodokumtasi-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--HintofRed);
    margin: 0;
    padding: 3rem 0;
    .videodokumtasi{
        width: 100% !important;
        height: 100% !important;
        video{
            border-radius: 10px;
        }
    }
    // @media (min-width: 576px) {
    //     .videodokumtasi{
    //         height: 200px !important;
    //     }
    // }

    // @media (min-width: 768px) {
    //     .videodokumtasi{
    //         height: 400px !important;
    //     }
    // }

    // @media (min-width: 992px) {
    //     .videodokumtasi{
    //         height: 500px !important;
    //     }
    // }

    // @media (min-width: 1200px) {
    //     .videodokumtasi{
    //         height: 612px !important;
    //     }
    // }
}
.gallerydokumentasi-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    .dokumtasi-box{
        position: relative;
        img{
            width: 100%;
        }
    }
    .owl-theme{
        .owl-dots{
            margin-top: 40px !important;
            .owl-dot{
                span{
                    background-color: var(--Silver);
                }
                &.active{
                    span{
                        background-color: var(--Valencia);
                    }
                }
                &:hover,&:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}