.fireextinguisher-area,
.protectiveequitment-area,
.hydrantequipment-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    p{
        &.detail{
            font-size: 20px;
            font-weight: 600;
            font-family: var(--font-Poppins);
        }
    }    
    .dot{
        position: absolute;
        height: 108px;
        width: 123px;
        bottom: 20%;
        right: 8%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rectangle{
        position: absolute;
        width: 70.13px;
        height: 70.13px;
        bottom: 0;
        left: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .polygon2{
        position: absolute;
        width: 92.95px;
        height: 92.95px;
        bottom: 0;
        right: 20%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.fireextinguisher-area{
    position: relative;
    .img-thumb{
        padding: 1rem 0;
        img{
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 10px 2px rgb(216, 48, 48, 50%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow:    0px 0px 10px 2px rgb(216, 48, 48, 50%);  /* Firefox 3.5 - 3.6 */
            box-shadow:         0px 0px 10px 2px rgb(216, 48, 48, 50%);
        }
    }
}
.serve-area{
    position: relative;
    padding: 4rem 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--HintofRed);
    .icon{
        margin-bottom: 1rem;
        width: 100px;
        height: 100px;
        background-color: var(--VanillaIce);
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 40px;
            color: var(--Valencia);
            font-weight: 600;
            font-family: var(--font-Poppins);
        }
    }
    .detail{
        p{
            font-family: var(--font-Poppins);
            font-weight: 700;
            font-size: 22px;
        }
    }
}
.galleryproduct-area{
    position: relative;
    margin: 5rem 0;
    width: 100%;
    overflow: hidden;
    .item{
        position: relative;
        border-radius: 10px;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .owl-theme{
        .owl-dots{
            margin-top: 40px !important;
            .owl-dot{
                span{
                    background-color: var(--Silver);
                }
                &.active{
                    span{
                        background-color: var(--Valencia);
                    }
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}