.firesupressionsystem-area{
    position: relative;
    width: 100%;
    p{
        &.detail{
            font-size: 20px;
            font-weight: 600;
            font-family: var(--font-Poppins);
        }
    }
    h3{
        font-size: 28px;
    }
}
.serve-area{
    position: relative;
    padding: 4rem 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--HintofRed);
    .icon{
        margin-bottom: 1rem;
        width: 100px;
        height: 100px;
        background-color: var(--VanillaIce);
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 40px;
            color: var(--Valencia);
            font-weight: 600;
            font-family: var(--font-Poppins);
        }
    }
    .detail{
        p{
            font-family: var(--font-Poppins);
            font-weight: 700;
            font-size: 22px;
        }
    }
}
.galleryproduct-area{
    position: relative;
    margin: 5rem 0;
    width: 100%;
    overflow: hidden;
    .item{
        position: relative;
        border-radius: 10px;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .owl-theme{
        .owl-dots{
            margin-top: 40px !important;
            .owl-dot{
                span{
                    background-color: var(--Silver);
                }
                &.active{
                    span{
                        background-color: var(--Valencia);
                    }
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}