@font-face {
    font-family: 'Poppins-Black';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Black.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-BlackItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-BoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-ExtraBoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-ExtraLight.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-ExtraLightItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-LightItalic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-LightItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-MediumItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-SemiBoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-Thin';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/Poppins-ThinItalic.ttf) format('ttf');
}



@font-face {
    font-family: 'NunitoSans-Black';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-Black.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-BlackItalic';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-BlackItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-BoldItalic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-BoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-ExtraBold';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-ExtraBoldItalic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-ExtraBoldItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-ExtraLight';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-ExtraLight.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-ExtraLightItalic';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-ExtraLightItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-Italic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-Italic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-Light';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-LightItalic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-LightItalic.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-SemiBold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'NunitoSans-SemiBoldItalic';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../styles/font/NunitoSans-SemiBoldItalic.ttf) format('ttf');
}