footer{
    &.main-footer{
        position: relative;
        padding: 3rem 0 0 0;
        background-color: var(--Elephant);
        // background-image: url(./img/footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--White);
        overflow: hidden;
        .container {
            .row {
                margin: 3rem 0 1rem 0;
            }
        }
        // .footer-logo{
        //     padding-bottom: .5rem;
        // }
        .footer-sosmed{
            ul {
                li{
                    padding: 0 .5rem;
                    a{
                        font-size: 25px;
                        color: var(--White);
                    }
                }
            }
        }
        .footer-information,
        .footer-service,
        .footer-contact{
            .title {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
        .title{
            color: var(--White);
        }
        .footer-service{
            ul{
                > li{
                    > a{
                        font-size: 14px;
                    }
                }
            }
        }
        ul {
            > li {
                padding: 5px 0;
                > a{
                    color: var(--White);
                    font-family: var(--font-Poppins);
                    font-weight: 400;
                    letter-spacing: 1px;
                    font-size: 14px;
                }
            }
        }
        .footer-contact{
            ul{
                li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    &:first-child{
                        i{
                            margin-top: 5px;
                        }
                        align-items: flex-start;
                    }
                    i{
                        background: linear-gradient(180deg, var(--Tabasco) 0%, var(--PersianRed) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    p{
                        margin-left: 5px;
                    }
                }
            }
        }
        span{
            position: absolute;
            width: 167.6px;
            height: 124.78px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: .5;
            &:nth-child(1){
                top: -50px;
                left: -100px;
            }
            &:nth-child(2){
                top: -50px;
                right: 120px;
            }
            &:nth-child(3){
                top: 150px;
                right: -80px;
            }
            &:nth-child(4){
                bottom: 0;
                left: 50%;
                right: 50%;
            }
        }
        .footer-bottom{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: auto 0;
            background-color: var(--Valencia);
            font-size: 14px;
        }
    }
}