.main-header{
    position: fixed;
    width: 100%;
    height: 85px;
    z-index: 999;
    &.sticky{
        background-color: var(--White);
    }
    .navbar{
        .navbar-blur{
            height: 85px;
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            overflow: hidden;
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -o-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            z-index: -500;
            background-color: var(--WhiteTrans);
            // background-size: cover;
        }
        .navbar-brand{
            margin-left: auto;
            margin-right: 0;
            z-index: 999;
        }
        .navbar-toggler {
            color: var(--Cardinal);
            border-color: transparent;
            z-index: 999;
            &:hover, &:focus{
                outline: 0;
                box-sizing: 0;
            }
        }
        .navbar-brand{
            img{
                width: 132px;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    position: relative;
                    &.dropdown{
                        .dropdown-menu {
                            transition: all 0.5s;
                            overflow: hidden;
                            transform-origin: top center;
                            transform: scale(1, 0);
                            display: block;
                            border: 0px solid transparent;
                            background-color: #FFFFFF;
                            border-radius: 0;
                            .dropdown-item {
                                font-size: 14px;
                                padding: 8px 30px !important;
                                color: var(--CodGray);
                                background-color: #FFFFFF;
                                text-transform: capitalize;
                                &:hover{
                                    color: var(--White);
                                    background-color: var(--Valencia);
                                }
                            }
                            @media (max-width: 991px) {
                                transform: scale(1, 0);
                                display: none;
                                margin-top: 10px;
                            }
                        }
                        &:hover{
                            .dropdown-menu {
                                transform: scale(1);
                            }
                        }
                        @media (max-width: 991px) {
                        }
                    }
                    a{
                        font-family: var(--font-Poppins);
                        text-transform: capitalize;
                        font-size: 14px !important;
                        color: var(--Black);
                        font-weight: 500;
                        font-size: 14px;
                        transition: all .5s;
                        // margin: 0 10px;
                        position: relative;
                        @media screen and (max-width: 961px){
                            font-size: 16px;
                        }
                        @media (min-width: 992px){
                            font-size: 13px;
                        }
                        &.dropdown-toggle{
                            &::after{
                                content: "";
                                display: none;
                            }
                        }
                    }
                }
            }
            > .navbar-sosmed{
                ul {
                    li{
                        padding: 0 .5rem;
                        a {
                            font-size: 30px;
                            &.icon-fb{
                                color: var(--fb);
                            }
                            &.icon-tw{
                                color: var(--tw);
                            }
                            &.icon-ig{
                                color: var(--ig);
                            }
                            &.icon-in{
                                color: var(--in);
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 961px){
            .navbar-collapse{
                background-color: #FFFFFF;
                position: absolute;
                left: -334px;
                top: 85px;
                z-index: 100;
                height: 100vh;
                width: 90%;
                display: block;
                text-align: left;
                opacity: 0;
                transition: all 500ms;
                transform: scaleX(0);
                padding: 1rem;
            }
        }
    }
    @media screen and (max-width: 961px) {
        .navbar{
            position: relative;
            .mobile_menu{
                background-color: #FFFFFF;
                position: absolute;
                left: -334px;
                top: 0;
                z-index: 100;
                height: 100vh;
                width: 100%;
                display: block !important;
                text-align: left;
                opacity: 0;
                transition: all 500ms;
                transform: scaleX(0);
                padding: 5rem 1rem;
                overflow: hidden;
                overflow-y: hidden;
                &.show{
                    position: absolute;
                    top: 0;
                    opacity: 1;
                    left: 0;
                    transform: scaleX(1);
                }
                .dropdown-menu{
                    padding: 0;
                    border: none;
                    .dropdown-item{
                        padding: .5rem .5rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 991.98px){
    .main-header{
        position: relative;
        z-index: 999;
        &.sticky{
            position: sticky;
            left: 0;
            top: 0;
            width: 100%;
            background-color: var(--White);
        }
    }
}