.hero_area{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgb(0, 0, 0, 50%);
        z-index: 9;
    }
    .owl-item{
        .item{
            margin: 0;
            position: relative;
            width: 100%;
            height: 100vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .hero-content {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    }
    p{
        color: var(--White);
        &:first-child{
            font-size: 28px;
            font-family: var(--font-Poppins);
            font-weight: 500;
        }
    }
    h1 {
        color: var(--White);
        text-transform: uppercase;
        margin: 1rem 0;
    }
    @media (max-width: 991.98px){
        h1{
            font-size: 1.8rem;
        }
        p{
            &:last-child{
                font-size: 14px;
            }
        }
    }
}