.hero-about_area{
    position: relative;
    margin: 0;
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .section-heading{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .title{
            color: var(--White);
        }
    }
}
.detail-about_area{
    position: relative;
    width: 100%;
    margin: 6rem 0;
    overflow: hidden;
    .sub-title{
        font-size: 20px;
        color: var(--Valencia);
        font-weight: 600;
        font-family: var(--font-Poppins);
    }
    .thumb-about{
        position: relative;
        width: 100%;
        height: 460px;
        // overflow: hidden;
        .thumb-first{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 350px;
            height: 343px;
            border: 5px solid var(--White);
            background-image: url(./img/about/about_us_fire_system_02-min.jpg);
            background-position: center left;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }
        .thumb-last{
            position: absolute;
            top: 0;
            right: 0;
            width: 350px;
            height: 343px;
            background-image: url(./img/about/img-2.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        // Huge
        @media screen and (max-width: 1280px){
            .thumb-first{
                // left: 20%;
                width: 300px;
                height: 293px;
            }
            .thumb-last{
                // right: 20%;
                width: 300px;
                height: 293px;
            }
        }

        // Desktop
        @media screen and (max-width: 992px){
            .thumb-first{
                width: 100%;
            }
        }

        // Tablet
        @media screen and (max-width: 768px){
            .thumb-first{
                left: 20%;
                width: 250px;
                height: 243px;
            }
            .thumb-last{
                right: 20%;
                width: 250px;
                height: 243px;
            }
        }

        // Mobile
        @media screen and (max-width: 480px){
            .thumb-first{
                width: 250px;
                height: 243px;
            }
            .thumb-last{
                width: 250px;
                height: 243px;
            }
        }

        @media screen and (max-width:320px){
            .thumb-first{
                left: 0;
                width: 200px;
                height: 193px;
            }
            .thumb-last{
                right: 0;
                width: 200px;
                height: 193px;
            }
        }
    }
    @media screen and (max-width: 961px) {
        .thumb-about{
            height: 350px;
        }
    }
    @media screen and (max-width: 320px) {
        .thumb-about{
            height: 300px;
        }
    }
}
.paralax-area{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--TealBlue);
    .content{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // &::before{
        //     content: "“";
        //     position: absolute;
        //     font-size: 4rem;
        //     font-weight: 400;
        //     left: -25px;
        //     top: -30px;
        // }
        // &::after{
        //     content: "”";
        //     position: absolute;
        //     font-size: 4rem;
        //     font-weight: 400;
        //     right: 25px;
        //     bottom: -40px;
        // }
    }
    blockquote{
        position: relative;
        font-family: var(--font-NunitoSans);
        font-size: 23px;
        font-weight: 600;
        color: var(--White);
        q{
            &::before{
                font-size: 30px;
                // position: absolute;
                // top: -17px;
                // left: -20px;
            }
            &::after{
                font-size: 30px;
                // position: absolute;
                // bottom: -17px;
                // right: -20px;
            }
        }
    }
}
.visimisi-area{
    position: relative;
    width: 100%;
    z-index: 1;
    .bg-visimisi{
        position: relative;
        width: 100%;
        top: -120px;
        padding: 1.2rem;
        background-color: var(--White);
        .thumb{
            position: relative;
            width: 100%;
            &.overlay{
                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    background: linear-gradient(180deg, rgba(14,13,12,1) 0%, rgba(24,24,24,0) 100%);
                    opacity: .5;
                    border-radius: 10px;
                }
            }
            img{
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
    .sub-title{
        font-size: 18px;
        color: var(--Valencia);
        font-weight: 600;
        font-family: var(--font-Poppins);
    }
    ul{
        li{
            margin: 3rem 0;
            display: flex;
            .icon{
                margin-right: 1rem;
                i{
                    padding: .7rem;
                    color: var(--White);
                    border-radius: 100%;
                    background: linear-gradient(180deg, var(--Tabasco) 0%, var(--PersianRed) 100%);;
                }
            }
            .text{
                span{
                    font-family: var(--font-Poppins);
                    font-weight: 600;
                    font-size: 20px;
                }
                p{
                    padding: 10px 0 0 0;
                }
            }
        }
    }
}
section{
    .overlay{
        position: relative;
        .visimisi-title{
            position: relative;
            color: var(--TallPoppy);
            margin-bottom: 10px;
            // &::after {
            //     content: '';
            //     width: 70px;
            //     height: 2px;
            //     position: absolute;
            //     top: 50%;
            //     left: 10%;
            //     background: var(--TallPoppy);
            // }
        }
    }
}