.hs-area{
    position: relative;
    .rectangle{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: -30px;
        right: 25%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.reservoir-area{
    position: relative;
    .dots{
        position: absolute;
        width: 238px;
        height: 232px;
        bottom: -50px;
        right: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: -70px;
        right: 35%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.pomproom-area{
    position: relative;
    .polygon{
        position: absolute;
        width: 48.83px;
        height: 48.83px;
        bottom: 120px;
        left: 5%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sistempipa-area{
    position: relative;
    .circle1{
        position: absolute;
        width: 158px;
        height: 142.53px;
        top: -55px;
        right: 45px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.pompahydrat-area{
    position: relative;
    .rectangle{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: -1%;
        left: 125px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dots{
        position: absolute;
        width: 238px;
        height: 232px;
        top: 25%;
        left: -10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.panelkontrol-area{
    position: relative;
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: 0;
        left: 30%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .polygon2{
        position: absolute;
        width: 48.83px;
        height: 48.83px;
        bottom: -7%;
        right: 12%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.pressuretank-area{
    position: relative;
    .circle2{
        position: absolute;
        width: 158px;
        height: 142.53px;
        top: -75px;
        left: 25px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
    }
}
.spinklersystemimg-area{
    position: relative;
    .img-thumb{
        img{
            border-radius: 10px;
            border: 5px solid var(--Valencia);
        }
    }
    .polygon{
        position: absolute;
        width: 48.83px;
        height: 48.83px;
        top: -30px;
        right: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: 0px;
        left: 5%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.spinklersystemslide-area{
    position: relative;
    .dots{
        position: absolute;
        width: 238px;
        height: 232px;
        top: 0px;
        left: -5%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rectangle{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        top: -35px;
        right: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .ellipse{
        position: absolute;
        width: 31.65px;
        height: 31.65px;
        bottom: -50px;
        right: 25%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .circle2{
        position: absolute;
        width: 158px;
        height: 142.53px;
        bottom: -130px;
        right: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}