.newsletter_area{
    position: relative;
    top: 50px;
    padding: 45px 0 50px;
    margin: 0 auto;
    max-width: 1110px;
    background: linear-gradient(180deg, var(--Tabasco) 0%, var(--PersianRed) 100%);
    position: relative;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 16px 0 rgba(27,2,52,.34);
    box-shadow: 0 0 16px 0 rgba(27,2,52,.34);
    z-index: 1;
    .newsletter-title{
        .title {
            color: var(--White);
            font-family: var(--font-NunitoSans);
            font-size: 24px;
            font-weight: bold;
        }
        .tag-line{
            font-family: var(--font-NunitoSans);
            font-size: 24px;
            font-weight: bold;
            color: var(--White);
            letter-spacing: 1px;
            text-transform: capitalize;
        }
    }
    .newsletter-ellipse-1{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 300px;
        height: 195px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .newsletter-ellipse-2{
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 205px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}