.product_area{
    position: relative;
    width: 100%;
    .product-slide{
        background-image: url(../styles/img/product.png);
        background-position: left center;
        background-repeat: no-repeat;
        // background-size: 20% 100%;
        background-color: var(--Concrete);
        // min-height: 100%;
        // height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        .item-product{
            position: relative;
            width: 80%;
            background-color: var(--White);
            border-radius: 26.11px;
            padding: 10px 30px;
            margin: 4rem auto 0 auto;
            text-align: center;
            .product-icon{
                margin: 0 auto;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--TallPoppyTrans);
                width: 90px;
                height: 90px;
                border-radius: 100px;
                i{
                    font-size: 40px;
                    color: var(--TallPoppy);
                }
            }
            .title{
                font-size: 16px;
            }
            .product-content{
                p, li {
                    font-family: var(--NunitoSans-Regular);
                    font-weight: 400;
                    font-size: 14px;
                }
                // p{
                //     display: -webkit-box;
                //     max-height: calc(6 * 1.6rem);
                //     -webkit-box-orient: vertical;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     -webkit-line-clamp: 6;
                //     letter-spacing: normal;
                // }
                a{
                    color: var(--Red);
                    font-size: 14px;
                }
            }
        }
        .owl-dots{
            margin: 40px 0 !important;
            .owl-dot{
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &.active{
                    span{
                        background: var(--TallPoppy);
                    }
                }
                span{
                    background: var(--Silver);
                }
            }
        }
    }
}