.service_area{
    position: relative;
    width: 100%;
    margin: 5rem 0;
    .image-service{
        position: relative;
        z-index: 1;
        video{
            position: relative;
            width: 100%;
            height: 305px;
            border: transparent;
            outline: none;
            border-radius: 30px;
        }
        iframe{
            position: relative;
            width: 100%;
            height: 305px;
            border: transparent;
            outline: none;
        }
        &::before{
            content: "";
            position: absolute;
            top: 5%;
            right: -5%;
            width: 100%;
            height: 90%;
            background-color: var(--Silver);
            z-index: -1;
            border-radius: 30px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        &::after{
            content: "";
            position: absolute;
            top: 10%;
            right: -10%;
            width: 100%;
            height: 80%;
            background-color: var(--SilverTrans);
            z-index: -1;
            border-radius: 30px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        @media (max-width: 991.98px){
            &:before, &:after{
                display: none;
            }
        }
    }
}