// @import "./font";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cardinal: #cd222a;
    --RoofTerracotta: #ad1b26;
    --Tamarillo: #8b1223;
    --MineShaft: #373737;
    --MineShaft30: #37373730;
    --MineShaft50: #37373750;
    --MineShaft60: #37373760;
    --MineShaft70: #37373770;
    --TallPoppy: #b12933;
    --TallPoppyTrans: #b1293350;
    --White: #ffffff;
    --WhiteTrans: #ffffff90;
    --Black: #000000;
    --BlackTrans: #00000050;
    --Silver: #C4C4C4;
    --Silver50: #C4C4C450;
    --SilverTrans: #C4C4C430;
    --Concrete: #F3F1F1;
    --Alabaster: #FAFAFA;
    --Loulou: #350832;
    --Tabasco: #B01F10;
    --PersianRed: #D2342B;
    --Red: #FF0000;
    --Valencia: #D83030;
    --VanillaIce: #F6E0E0;
    --TealBlue: #064562;
    --CodGray: #181818;
    --HintofRed: #FAF8F8;
    --Elephant: #133950;

    --fb: #3b5999;
    --tw: #55acee;
    --ig: #3f729b;
    --in: #2867B2;

    --font-Poppins: 'Poppins', sans-serif;
    --font-NunitoSans: 'Nunito Sans', sans-serif;

    // --NunitoSans-Black: 'NunitoSans-Black';
    // --NunitoSans-BlackItalic: 'NunitoSans-BlackItalic';
    // --NunitoSans-Bold: 'NunitoSans-Bold';
    // --NunitoSans-BoldItalic: 'NunitoSans-BoldItalic';
    // --NunitoSans-ExtraBold: 'NunitoSans-ExtraBold';
    // --NunitoSans-ExtraBoldItalic: 'NunitoSans-ExtraBoldItalic';
    // --NunitoSans-ExtraLight: 'NunitoSans-ExtraLight';
    // --NunitoSans-ExtraLightItalic: 'NunitoSans-ExtraLightItalic';
    // --NunitoSans-Italic: 'NunitoSans-Italic';
    // --NunitoSans-Light: 'NunitoSans-Light';
    // --NunitoSans-LightItalic: 'NunitoSans-LightItalic';
    // --NunitoSans-Regular: 'NunitoSans-Regular';
    // --NunitoSans-SemiBold: 'NunitoSans-SemiBold';
    // --NunitoSans-SemiBoldItalic: 'NunitoSans-SemiBoldItalic';

    // --Poppins-Black: 'Poppins-Black';
    // --Poppins-BlackItalic: 'Poppins-BlackItalic';
    // --Poppins-Bold: 'Poppins-Bold';
    // --Poppins-BoldItalic: 'Poppins-BoldItalic';
    // --Poppins-ExtraBold: 'Poppins-ExtraBold';
    // --Poppins-ExtraBoldItalic: 'Poppins-ExtraBoldItalic';
    // --Poppins-ExtraLight: 'Poppins-ExtraLight';
    // --Poppins-ExtraLightItalic: 'Poppins-ExtraLightItalic';
    // --Poppins-Light: 'Poppins-Light';
    // --Poppins-LightItalic: 'Poppins-LightItalic';
    // --Poppins-Medium: 'Poppins-Medium';
    // --Poppins-MediumItalic: 'Poppins-MediumItalic';
    // --Poppins-Regular: 'Poppins-Regular';
    // --Poppins-SemiBold: 'Poppins-SemiBold';
    // --Poppins-SemiBoldItalic: 'Poppins-SemiBoldItalic';
    // --Poppins-Thin: 'Poppins-Thin';
    // --Poppins-ThinItalic: 'Poppins-ThinItalic';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-NunitoSans);
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--White);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
span,
small,
strong,
blockquote {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-Poppins);
    font-weight: 600;
}

section {
    margin: 3rem 0;
    
    h2{
        &.title{
            color: var(--Valencia);
            font-size: 24px;
            font-weight: 600;
            font-family: var(--font-Poppins);
            text-transform: capitalize;
        }
    }
    h3{
        font-family: var(--font-Poppins);
        font-weight: 600;
        font-size: 30px;
        text-transform: capitalize;
        margin: 1rem 0;
    }
    p{
        font-family: var(--font-NunitoSans);
        font-weight: 400;
    }
}

.hero-area{
    position: relative;
    margin: 0;
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .section-heading{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .title{
            color: var(--White);
            margin: 0 50px;
        }
    }
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    background: transparent;
    border: transparent;
    &:focus{
        box-shadow: none;
        outline: none;
    }
}
.about_area,
.product_area,
.service_area,
.blog_area,
.newsletter_area,
.main-footer {
    .title {
        color: var(--MineShaft);
    }

    .content {
        line-height: 1.9;
    }

    .sub-title {
        font-family: var(--font-NunitoSans);
        font-weight: 400;
    }
}

a {

    &.btn-hero,
    &.btn-service {
        color: var(--White);
        border: 3px solid var(--TallPoppy);
        border-radius: 10px;
        font-family: var(--font-Poppins);
        font-weight: 500;
        font-size: 16px;
        padding: .5rem 1rem;

        &.active {
            border: 3px solid var(--TallPoppy);
            background-color: var(--TallPoppy);
            // box-shadow: 0 4px 20px var(--BlackTrans);
        }

        &:hover {
            color: var(--TallPoppy);
            background-color: var(--White);
            box-shadow: 0 4px 20px var(--BlackTrans);
        }
    }
}
.btn {
    &.btn-hero {
        color: var(--White);
        border: 3px solid var(--TallPoppy);
        border-radius: 10px;
        font-family: var(--font-Poppins);
        font-weight: 500;
        font-size: 16px;
        padding: .5rem 1rem;

        &.active {
            border: 3px solid var(--TallPoppy);
            background-color: var(--TallPoppy);
            // box-shadow: 0 4px 20px var(--BlackTrans);
        }

        &:hover {
            color: var(--TallPoppy);
            background-color: var(--White);
            box-shadow: 0 4px 20px var(--BlackTrans);
        }
    }
}
.squer {
    position: relative;
    width: 100%;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        top: -211px;
        width: 100%;
        height: 450px;
        right: 0;
        background-image: url(../styles/img/Rectangle24.png);
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;

        @media (max-width: 991.98px) {
            top: -111px;
            height: 250px;
        }
    }
}

.owl-theme{
    .owl-item{
        .item{
            margin: 10px;
            img{
                border-radius: 10px;
                -webkit-box-shadow: 0px 0px 10px 2px rgb(216, 48, 48, 50%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                -moz-box-shadow:    0px 0px 10px 2px rgb(216, 48, 48, 50%);  /* Firefox 3.5 - 3.6 */
                box-shadow:         0px 0px 10px 2px rgb(216, 48, 48, 50%);
            }
        }
    }
    .owl-dots{
        margin-top: 40px !important;
        .owl-dot{
            span{
                background-color: var(--Silver);
            }
            &.active{
                span{
                    background-color: var(--Valencia);
                }
            }
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}
.provacypolicy-area,
.termcondition-area{
    h1,h2,p{
        margin-bottom: 1rem;
    }
}
footer {
    hr {
        border-top: 1px solid var(--SilverTrnas);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@import "./header";
@import "./hero";
@import "./about";
@import "./product";
@import "./services";
@import "./client";
@import "./blog";
@import "./newsletter";

@import "./hero-about";
@import "./contact";
@import "./hydrantsystem";
@import "./fireprotection";
@import "./firealarmsystem";
@import "./customer";
@import "./dokumtasi";

@import "./footer";